src/test/resources/evidencias/
.idea/
target/
fabrica_automacao.iml
src/test/resources/jenkins/
src/test/resources/downloads/
src/test/resources/jenkins/anexos/Relatorio_detalhado_testes.html
.idea/workspace.xml
.idea/workspace.xml
